:root{
	--color-a:#005c4c;
	--color-b:#07352d;
	--color-btn-a:#e01313;
	--color-btn-b:#a70f0f;
	--footer-color:#191515;
	--footer-font-color:#ffffff;
	--border-b:#012b24;
	--padding-btn:10px 15px;
	--radius-btn:2px;
}
*{
	padding:0;
	margin:0;
}
body{
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	font-family: Arial;
	font-size: 10px;
}
.header{
	box-sizing: border-box;
	color:white;
	background: var(--color-b);
	width:100%;
	height:10%;
	padding:10px 30px;
}
.form{
	position:absolute;
	z-index: -15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
}
.form-class{
	display:block;
	width:250px;
}
#image-view{
	width:250px;
	height:250px;
	display:none;
}
#file-upload-label{
	box-sizing:border-box;
}
.inputfile,#submit-btn	 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    color: white;
    background-color: var(--color-btn-a);
    width:250px;
    text-align: center;
   	padding:var(--padding-btn);
    border-radius:var(--radius-btn);
    display: inline-block;
    cursor: pointer;
    font-size:20px;
}
.inputfile:hover + label{
cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover ,
#submit-btn:focus,
#submit-btn:hover{
    background-color: var(--color-btn-b);
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.footer{
	box-sizing: border-box;
	position:absolute;
	bottom:0;
	background:var(--footer-color);
	color:var(--footer-font-color);
	width:100%;
	height:50px;
	padding:15px;
	font-size:13px;
	display:inline;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
@media screen and (max-width:720px)
{

}

