@font-face {
    font-family: "moonl";
    src: url('../fonts/Moon Light.otf') format("woff");
}
@font-face {
    font-family: "moonb";
    src: url('../fonts/Moon Bold.otf') format("woff");
}
:root{
	--color-a:#005c4c;
	--color-b:#07352d;
	--color-btn-a:#e01313;
	--color-btn-b:#a70f0f;
	--footer-color:#191515;
	--footer-font-color:#ffffff;
	--border-b:#012b24;
	--padding-btn:10px 15px;
	--radius-btn:2px;
}
*{
	padding:0;
	margin:0;
}
body{
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	font-family: "moonl";
	font-size: 10px;
	display: block;
}
i.camera-logo{
	font-size:35px;
	position:relative;
	top:4px;
	right:10px
}
.head-icon{
	font-size:40px;
	letter-spacing:10px;
	font-weight:lighter;
	font-family:"moonl";
}
.head-ocr{
	font-family:"moonb";
}
.head-logo{
	height:30px;
	width:30px;
	margin-right:10px;
	position:relative;
	top:3px;
}
.header{
	box-sizing: border-box;
	position: fixed;
	z-index: -1;
	color:var(--color-a);
	width:100%;
	height:10%;
	padding:10px 30px;
}
.form-div{
	position:relative;
	z-index:0;
	height:100vh;
}
.form{
	position:absolute;
	z-index:0;
	top: 60%;
	left: 50%;
	margin: -100px 0 0 -150px;
}
.form-class{
	display:block;
	width:250px;
}
#image-view{
	position: fixed;
	z-index:1;
	width:250px;
	height:250px;
	display:none;
}
#file-upload-label{
	box-sizing:border-box;
	position:fixed;
	z-index:2;
}
.inputfile,#submit-btn	 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}
.inputfile + label {
	z-index:2;
	position:fixed;
    color: white;
    background-color: var(--color-a);
    width:250px;
    text-align: center;
   	padding:var(--padding-btn);
    border-radius:var(--radius-btn);
    display: inline-block;
    cursor: pointer;
    font-size:20px;
}
.inputfile:hover + label{
cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover ,
#submit-btn:focus,
#submit-btn:hover{
    background-color: var(--color-b);
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.footer{
	box-sizing: border-box;
	background:var(--footer-color);
	color:var(--footer-font-color);
	width:100%;
	height:50px;
	padding:15px;
	font-size:13px;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
i.github-icon{
	font-size:20px;
	color:white;
}
i.github-icon:hover,i.github-icon:focus{
	color:#00b4ff;
}
.help-div{
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	background: rgba(0, 92, 76, 0.95);
	padding:30px;
}
.contact-div{
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	background: rgb(4, 66, 55);
	padding:30px;
}
.help-col,.feed-col{
	box-sizing: border-box;
	color:white;
	border-radius: 5px;
	padding:30px;
	height:300px;
	font-size: 20px;
}
.feed-form>input[type=submit]:hover{
	background-color:var(--color-btn-b);
}
.column-4>h1,.column-6>h1{
	font-size:20px;
	letter-spacing: 3px;
	font-weight: lighter;
}
/* CSS Grid */
.row{
	width:100%;
}
@media screen and (min-width:1024px)
{
	.help-col{
		margin:5px;
	}
	.column-4{
		padding:10px;
		width:32%;
		text-align:center;
		display: inline-block;
	}
	.column-6{
		padding:10px;
		width:49%;
		text-align:center;
		display: inline-block;
	}
	.feed-form{
		position: absolute;
		width:45%;
	}
	.feed-form>input{
		width:45%;
		margin-top:20px;
		padding:10px;
		border:none;
		border-radius: 2px;
	}
	.feed-form>input[type=textarea]{
		width:94%;
		height:100px;
	}
	.feed-form>input[type=submit]{
		width:97%;
		background-color:var(--color-btn-a);
		color:white;
	}
}
@media screen and (max-width:1024px)
{
	.help-col{
		margin-top:20px;
	}
	.column-4{
		box-sizing: border-box;
		padding:10px;
		width:100%;
		text-align:center;
		display: block;
	}
	.column-6{
		box-sizing: border-box;
		padding:10px;
		width:100%;
		text-align:center;
		display: block;
	}
	.feed-col{
		height:350px;
	}
	.feed-form{
		position: absolute;
		width:90%;
	}
	.feed-form>input{
		width:95%;
		margin-top:20px;
		padding:10px;
		border:none;
		border-radius: 2px;
	}
	.feed-form>input[type=textarea]{
		width:95%;
		height:100px;
	}
	.feed-form>input[type=submit]{
		width:98%;
		background-color:var(--color-btn-a);
		color:white;
	}

}

